*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(80, 9, 147);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    border-bottom: 2px solid crimson;
}
nav h2{
    color: white;
    font-size: 32px;
}
nav ul{
    display: flex;
   

}
nav ul li{
    list-style: none;
    margin: 10px 7px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    padding: 10px 15px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 10px;
}
/*--------------- start Banner section -------------*/

.banner-area{
    display: flex;
    background-image: url(../Image/website\ banner.jpg);
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.banner-area input{
    height: 40px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    padding: 0px 20px;

}
.banner-area i{
    color: red;
    background-color: green;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

}

/*--------------- start main  section -------------*/
/*--------------- start main top  section -------------*/
main{
    background-color: rgb(127, 7, 148);
}
.main-section{
    width: 1000px;
    margin: 0px auto;
}
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 50px 0px 20px;
    color: rgb(173, 232, 246);
}
.main-top h2{}
.main-top h4{}
.main-top span{
    background-color: rgb(173, 172, 169);
    color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
}

/*--------------- start main image-item section -------------*/

.image-item-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.image-item{
    height: 250px;
   
}
.image-item img{
    width: 100%;
    height: 220px;
    border: 2px solid bisque;
    transition: 0.5s;
    cursor: pointer;
}
.image-item img:hover{
    transform: scale(1.2);
    border-radius: 10px;
}
.image-text{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    color: white;
    
}
.image-text h5{}

/*--------------- start main bottom section -------------*/

.main-bottom-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.main-bottom-section a{
    display: inline-block;
    text-decoration: none;
    color: white;
}
.main-bottom-section h4{
    background-color: cadetblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.main-bottom-mid a{
    background-color: white;
    padding: 4px 8px;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}
.main-bottom-mid a:hover{
    background-color: cadetblue;
}

/*--------------- start footer section -------------*/
footer{
    background-color: purple;
}
.footer-section{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0px;
    color: white;
}
.footer-section h3{
    margin: 15px 0px;
    font-size: 24px;
}

.footer-first{
    width: 300px;

}
.footer-second a{
    text-decoration: none;
    color: white;
    
}
.icon-side i{
    color: white;
    font-size: 30px;
    margin: 15px 0px;

}
.footer-third p:nth-child(3){
    margin-bottom: 20px;
}
   