*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(80, 9, 147);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    border-bottom: 2px solid crimson;
}
nav h2{
    color: white;
    font-size: 32px;
}
nav ul{
    display: flex;
   

}
nav ul li{
    list-style: none;
    margin: 10px 7px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    padding: 10px 15px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 10px;
}
/*--------------- start Banner section -------------*/

.banner-area{
    display: flex;
    background-image: url(../Image/website\ banner.jpg);
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.banner-area input{
    height: 40px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    padding: 0px 20px;

}
.banner-area i{
    color: red;
    background-color: green;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

}